h1 {
    text-align: center;
}

#last-label{
    display: block;
    margin-left: 25px;
}
#checkbox-b2 {
    float: left;
}

#sub-btn{
    border: 0;
    background-color: green;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 5px;
}